@import-normalize;
@import "helper";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {box-sizing: border-box;}
*::after {box-sizing: border-box;}
ul, ol {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: $font-hei;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon{
  width: 27px;
  height: 27px;
  //fill: currentColor;
  overflow: hidden;
}
.mmm{
  height: 100vh;
  //padding-bottom: 5px;
}

